<nz-content>
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <div class="logo">
      <img src="../../../assets/images/logo.png">
    </div>
    <nz-form-item>
      <nz-form-control nzErrorTip="Informe seu usuario!">
        <nz-input-group nzPrefixIcon="user" nzSize="large">
          <input type="text" nz-input formControlName="userName" placeholder="Informe seu usuario" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Informe sua senha!">
        <nz-input-group nzPrefixIcon="lock" nzSize="large">
          <input type="password" nz-input formControlName="password" placeholder="Informe sua senha" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="lembrar">
      <label nz-checkbox>
        <span>Lembre-me</span>
      </label>
    </div>
    <button (click)="login()" nz-button nzType="primary" nzSize="large" nzBlock>
      <i nz-icon nzType="login"></i>Entrar
    </button>
  </form>
</nz-content>
