:host {
  text-align: center;
}

nz-content {
  display: flex;
  height: 100%;
  width: 100%;
}

form {
  margin: auto;
  margin-top: 40%;
}

.content {
  height: 100%;
  background-color: #cccccc;
  flex: auto;
}

.content img {
  margin: auto;
}

.autenticacao {
  height: 100%;
  float: right;
  background-color: black;
  width: 370px;
}

.autenticacao img {
  width: 80%;
  margin-bottom: 35px;
}

@media only screen and (max-width: 1000px) {
  .content {
    display: none;
  }

  .autenticacao {
    width: 100%;
  }
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
