<nz-layout class="layout">

  <!-- Toolbar -->
  <div class="toolbar">
    <form [formGroup]="search" (ngSubmit)="pesquisar(search.value)">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input (ngModelChange)="pesquisar(search.value)" type="text" formControlName="search" nz-input
          placeholder="Pesquisar..." />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </form>
    <button (click)="showModal()" nz-button nzType="primary">
      <i nz-icon nzType="plus"></i> Adicionar
    </button>
  </div>
  <!-- Toolbar -->

  <nz-content class="content">
    <cdk-virtual-scroll-viewport itemSize="{{dataFilter.length}}">
      <nz-list nzSize="small">
        <nz-list-header class="cabecalho-list">
          <nz-list-item nz-row>
            <div nz-col nzSpan="6" class="item">Nome</div>

            <div nz-col nzSpan="8" class="item">Razão Social</div>

            <div nz-col nzSpan="4" class="item">Documento</div>

            <div nz-col nzSpan="3" class="item">Localização</div>

            <div nz-col nzSpan="3" class="item acoes" nz-list-item-actions>
              Ações
            </div>
          </nz-list-item>
        </nz-list-header>

        <nz-list-empty *ngIf="dataFilter.length == 0">
          Não há Dados
        </nz-list-empty>
        <nz-list-body class="body-list">
          <nz-list-item *cdkVirtualFor="let item of dataFilter">
            <div nz-row class="body-list-item">
              <div nz-col nzSpan="6" class="item">{{item.nome_fantasia}}</div>

              <div nz-col nzSpan="8" class="item"> {{item.razao_social}}</div>

              <div nz-col nzSpan="4" class="item">{{item.documento}}</div>

              <div nz-col nzSpan="3" class="item">{{item.localizacao}}</div>

              <div nz-col nzSpan="3" class="item acoes">
                <a (click)="showModal(item)"><i nz-icon nzType="form" nzTheme="outline"></i></a>
                <a (click)="delete()"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
              </div>
            </div>
          </nz-list-item>
        </nz-list-body>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </nz-content>
</nz-layout>

<!-- Formulario Crud Entidade -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="{{editar ? 'Editar' : 'Nova'}} Entidade" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" nzOkText="Salvar" nzCancelText="Cancelar">
  <form nz-form [formGroup]=" validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>Descrição</nz-form-label>
      <nz-form-control [nzSpan]="18" nzHasFeedback nzValidatingTip="Validando..." [nzErrorTip]="descricaoErrorTpl">
        <input hidden formControlName="id" />
        <input nz-input formControlName="nome_fantasia" placeholder="Nome da entidade" />
        <input nz-input formControlName="razao_social" placeholder="Razão social da entidade" />
        <input nz-input formControlName="documento" placeholder="Numero de documento" />
        <input nz-input formControlName="localizacao" placeholder="Localização" />
        <ng-template #descricaoErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Insira a descrição.
          </ng-container>
          <ng-container *ngIf="control.hasError('minlength')">
            Insira no mínimo 3 caracteres.
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
<!-- Formulario Crud Entidade -->
