<nz-layout>

  <div nz-row style="padding: 50px;">
    <div nz-col nzSpan="12" style="    margin: auto;
    display: block;">
      <h1 class="u-custom-font u-font-ubuntu u-text u-text-1">
        <font class="u-text-palette-2-base" style="font-size: 100px; color: #0c71c1 !important"><b>Museu<br>DusGuri</b>
        </font><br>Original
      </h1>
      <p class="u-text u-text-2">Museu dusGuri apresenta raridades voltadas a computação.
        Atraves das imagens e outros dados disponibilizados, você terá acesso a informações sobre peças, sites entre
        outros.
      </p>
      <a href="#" style="background: #545456  !important"
        class="u-btn u-btn-round u-button-style u-hover-black u-palette-2-base u-radius-50 u-btn-3">
        Iniciar Visita ao Museu</a>
    </div>
    <div nz-col nzSpan="12">
      <img src="https://mechatronicstec.files.wordpress.com/2014/06/robo.png" style="max-width: 100%;max-height: 600px; margin: auto;
        display: flex;">
    </div>
  </div>
  <nz-content style="background: #fff;">
    <div nz-row style="padding: 30px 50px; background: #e2e2e2;">

      <div nz-col [nzSpan]="6" style="padding-right: 15px;">
        <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Informe o Espaço">
          <nz-option *ngFor="let espaco of []" [nzLabel]="espaco.descricao" [nzValue]="espaco.id">
          </nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="6" style="padding-right: 15px;">
        <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Informe a Categoria">
          <nz-option *ngFor="let itemcategoria of []" [nzLabel]="itemcategoria.descricao" [nzValue]="itemcategoria.id">
          </nz-option>
        </nz-select>
      </div>

      <input nz-col [nzSpan]="8" maxlength="255" nz-input placeholder="Nome do acervo" />

      <div nz-col [nzSpan]="4" style="padding-left: 15px;">
        <button style="width: 100%;" nzType="primary" [nzLoading]="true" nz-button><i nz-icon
            nzType="search"></i>Pesquisar</button>
      </div>
    </div>
  </nz-content>
  <nz-footer style="padding: 50px; background: #474747;">Footer</nz-footer>
</nz-layout>
