<nz-layout class="layout">

  <!-- Toolbar -->
  <div class="toolbar">
    <form [formGroup]="search" (ngSubmit)="pesquisar(search.value)">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input (ngModelChange)="pesquisar(search.value)" type="text" formControlName="search" nz-input
          placeholder="Pesquisar..." />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </form>
    <button (click)="showModal()" nz-button nzType="primary">
      <i nz-icon nzType="plus"></i> Adicionar
    </button>
  </div>
  <!-- Toolbar -->

  <nz-content class="content">
    <cdk-virtual-scroll-viewport itemSize="{{dataFilter.length}}">
      <nz-list nzSize="small">
        <nz-list-header class="cabecalho-list">
          <nz-list-item nz-row>
            <div nz-col nzSpan="12" class="item">{{ TITULO }}</div>

            <div nz-col nzSpan="4" class="item">{{ DATA_INICIO }}</div>

            <div nz-col nzSpan="4" class="item">{{ DATA_FINAL }}</div>

            <div nz-col nzSpan="4" class="item acoes" nz-list-item-actions>
              {{ACOES}}
            </div>
          </nz-list-item>
        </nz-list-header>

        <nz-list-empty *ngIf="dataFilter.length == 0">
          Não há Dados
        </nz-list-empty>
        <nz-list-body class="body-list">
          <nz-list-item *cdkVirtualFor="let item of dataFilter">
            <div nz-row class="body-list-item">
              <div nz-col nzSpan="12" class="item">{{item.titulo}}</div>

              <div nz-col nzSpan="4" class="item">{{item.dataInicio | date:'dd/MM/yyyy HH:mm'}}</div>

              <div nz-col nzSpan="4" class="item">{{item.dataFinal | date:'dd/MM/yyyy HH:mm'}}</div>

              <div nz-col nzSpan="4" class="item acoes">
                <a (click)="showModal(item)"><i nz-icon nzType="form" nzTheme="outline"></i></a>
                <a (click)="delete(item)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
              </div>
            </div>
          </nz-list-item>
        </nz-list-body>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </nz-content>
</nz-layout>

<!-- Formulario Crud Entidade -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="{{editar ? 'Editar' : 'Novo'}} Evento" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" nzOkText="Salvar" nzCancelText="Cancelar" nzWrapClassName="vertical-center-modal" nzWidth="700">

  <form nz-form [formGroup]=" validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <input hidden formControlName="id" />

    <!-- TITULO -->
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>Título</nz-form-label>
      <nz-form-control [nzSpan]="20" nzHasFeedback>
        <input nz-input formControlName="titulo" placeholder="Título" />
      </nz-form-control>
    </nz-form-item>
    <!-- TITULO -->

    <!-- DESCRIÇÃO -->
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Descrição</nz-form-label>
      <nz-form-control [nzSpan]="20" nzHasFeedback>
        <input nz-input formControlName="descricao" placeholder="Descrição" />
      </nz-form-control>
    </nz-form-item>
    <!-- DESCRIÇÃO -->

    <!-- LOCALIZAÇÃO -->
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>Localização</nz-form-label>
      <nz-form-control [nzSpan]="20" nzHasFeedback>
        <nz-select nzShowSearch nzPlaceHolder="Selecione uma Localização" formControlName="codigoLocalizacao">
          <nz-option *ngFor="let localizacao of localizacoes" [nzLabel]="localizacao.descricao"
            [nzValue]="localizacao.id">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!-- LOCALIZAÇÃO -->

    <nz-form-item>

      <!-- ENTIDADE -->
      <nz-form-label [nzSpan]="4" nzRequired>Entidade</nz-form-label>
      <nz-form-control [nzSpan]="9" style="padding-right: 10px">
        <nz-select nzShowSearch nzPlaceHolder="Selecione uma Entidade" formControlName="codigoEntidade">
          <nz-option *ngFor="let entidade of entidades" [nzLabel]="entidade.nomeFantasia" [nzValue]="entidade.id">
          </nz-option>
        </nz-select>
      </nz-form-control>
      <!-- ENTIDADE -->

      <!-- CATEGORIA -->
      <nz-form-label [nzSpan]="3" nzRequired>Categoria</nz-form-label>
      <nz-form-control [nzSpan]="8" nzHasFeedback>
        <nz-select nzShowSearch nzPlaceHolder="Selecione uma Categoria" formControlName="codigoCategoria">
          <nz-option *ngFor="let categoria of categorias" [nzLabel]="categoria.descricao" [nzValue]="categoria.id">
          </nz-option>
        </nz-select>
      </nz-form-control>
      <!-- CATEGORIA -->

    </nz-form-item>

    <nz-form-item>

      <!-- DATA INICIO -->
      <nz-form-label [nzSpan]="4" nzRequired>Data Inicio</nz-form-label>
      <nz-form-control [nzSpan]="9" nzHasFeedback style="padding-right: 10px">
        <nz-date-picker style="width: 100%;" formControlName="dataInicio" nzShowTime nzFormat="dd/MM/yyyy HH:mm">
        </nz-date-picker>
      </nz-form-control>
      <!-- DATA INICIO -->

      <!-- DATA FINAL -->
      <nz-form-label [nzSpan]="3">Data Final</nz-form-label>
      <nz-form-control [nzSpan]="8" nzHasFeedback>
        <nz-date-picker style="width: 100%;" formControlName="dataFinal" nzShowTime nzFormat="dd/MM/yyyy HH:mm">
        </nz-date-picker>
      </nz-form-control>
      <!-- DATA FINAL -->
    </nz-form-item>


    <!-- BANNER -->
    <nz-form-item>
      <nz-form-control [nzSpan]=" 4">
      </nz-form-control>
      <nz-form-control [nzSpan]="20" nzHasFeedback>
        <nz-upload style="width: 100%;" nzType="drag">
          <p class="ant-upload-drag-icon">
            <i nz-icon nzType="inbox"></i>
          </p>
          <p class="ant-upload-text">Banner do Evento</p>
          <p class="ant-upload-hint">Clique ou arraste para selecionar o banner do Evento.</p>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>
    <!-- BANNER -->

  </form>
</nz-modal>
<!-- Formulario Crud Entidade -->
