<nz-layout class="layout">

  <!-- Toolbar -->
  <div class="toolbar">
    <form [formGroup]="search" (ngSubmit)="pesquisar(search.value)">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input (ngModelChange)="pesquisar(search.value)" type="text" formControlName="search" nz-input
          placeholder="Pesquisar..." />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </form>
    <button (click)="showModal()" nz-button nzType="primary">
      <i nz-icon nzType="plus"></i> Adicionar
    </button>
  </div>
  <!-- Toolbar -->

  <nz-content class="content">
    <cdk-virtual-scroll-viewport itemSize="{{dataFilter.length}}">
      <nz-list nzSize="small">
        <nz-list-header class="cabecalho-list">
          <nz-list-item>
            <div nz-col nzSpan="4" class="item">{{ LOGIN }}</div>

            <div nz-col nzSpan="3" class="item">{{ SENHA }}</div>

            <div nz-col nzSpan="4" class="item">{{ PREMISSAO_EDITAR }}</div>

            <div nz-col nzSpan="5" class="item">{{ PREMISSAO_EXCLUIR }}</div>

            <div nz-col nzSpan="5" class="item">{{ PREMISSAO_CADASTRAR }}</div>

            <div nz-col nzSpan="3" class="item acoes" nz-list-item-actions>
              {{ ACOES }}
            </div>
          </nz-list-item>
        </nz-list-header>
        <nz-list-empty *ngIf="dataFilter.length == 0">
          Não há Dados
        </nz-list-empty>
        <nz-list-body class="body-list">
          <nz-list-item *cdkVirtualFor="let item of dataFilter">
            <div nz-row class="body-list-item">
              <div nz-col nzSpan="4" class="item">{{item.login}}</div>

              <div nz-col nzSpan="3" class="item">{{item.senha}}</div>

              <div nz-col nzSpan="4" class="item">{{item.flagEditar}}</div>

              <div nz-col nzSpan="5" class="item">{{item.flagExcluir}}</div>

              <div nz-col nzSpan="5" class="item">{{item.flagCadastrar}}</div>

              <div nz-col nzSpan="3" class="item acoes">
                <a (click)="showModal(item)"><i nz-icon nzType="form" nzTheme="outline"></i></a>
                <a (click)="delete(item)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
              </div>
            </div>
          </nz-list-item>
        </nz-list-body>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </nz-content>
</nz-layout>

<!-- Formulario Crud Funcionario -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="{{editar ? 'Editar' : 'Novo'}}  Funcionario" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" nzOkText="Salvar" nzCancelText="Cancelar" nzWrapClassName="vertical-center-modal">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">

    <!-- LOGIN -->
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>{{ LOGIN }}</nz-form-label>

      <nz-form-control [nzSpan]="18" nzHasFeedback nzValidatingTip="Validando...">

        <input maxlength="255" nz-input formControlName="login" placeholder="Informe login" />

      </nz-form-control>
    </nz-form-item>
    <!-- LOGIN -->

    <!-- SENHA -->
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>{{ SENHA }}</nz-form-label>

      <nz-form-control [nzSpan]="18" nzHasFeedback nzValidatingTip="Validando...">

        <input maxlength="255" nz-input formControlName="senha" placeholder="Informe senha" />

      </nz-form-control>
    </nz-form-item>
    <!-- SENHA -->

    <!-- PERMITIR EDITAR -->
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>{{ PREMISSAO_EDITAR }}</nz-form-label>

      <nz-form-control [nzSpan]="18" nzHasFeedback nzValidatingTip="Validando...">

        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Permissao para editar itens do acervo"
          formControlName="flagEditar">
          <nz-option nzLabel="SIM" nzValue="true">
          </nz-option>
          <nz-option nzLabel="NÃO" nzValue="false">
          </nz-option>
        </nz-select>

      </nz-form-control>
    </nz-form-item>
    <!-- PERMITIR EDITAR -->

    <!-- PERMITIR EXCLUIR -->
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>{{ PREMISSAO_EXCLUIR }}</nz-form-label>

      <nz-form-control [nzSpan]="18" nzHasFeedback nzValidatingTip="Validando...">

        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Permissao para excluir itens do acervo"
          formControlName="flagExcluir">
          <nz-option nzLabel="SIM" nzValue="true">
          </nz-option>
          <nz-option nzLabel="NÃO" nzValue="false">
          </nz-option>
        </nz-select>

      </nz-form-control>
    </nz-form-item>
    <!-- PERMITIR EXCLUIR -->

    <!-- PERMITIR CADASTRAR -->
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>{{ PREMISSAO_CADASTRAR }}</nz-form-label>

      <nz-form-control [nzSpan]="18" nzHasFeedback nzValidatingTip="Validando...">

        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Permissao para criar itens do acervo"
          formControlName="flagCadastrar">
          <nz-option nzLabel="SIM" nzValue="true">
          </nz-option>
          <nz-option nzLabel="NÃO" nzValue="false">
          </nz-option>
        </nz-select>

      </nz-form-control>
    </nz-form-item>
    <!-- PERMITIR CADASTRAR -->
  </form>
</nz-modal>
<!-- Formulario Crud Funcionario -->
